body {
	padding: 1em;
	padding-left: 20px;
	padding-right: 20px;
}
p.breadcrumb {
	font-size: small;
	margin: 0px;
}

h1, h2, h3, h4 {
	margin-left: -8px;
	margin-right: -8px;
}

h1 {
	color: white;
	background-color: #000080;
	padding: 0.25em;
	padding-left: 10px;
}
h2 {
	color: white;
	background-color: #4040c0;
	padding: 0.25em;
	padding-left: 10px;
}
h3 {
	color: white;
	background-color: #8080ff;
	padding: 0.25em;
	padding-left: 10px;
}
h4 {
	color: #303040;
	background-color: #c0c0ff;
	padding: 0px;
	padding-left: 10px;
	margin-bottom: 4px;
}

.title-type {
	/*color: red;*/
	font-size: 50%;
	color: #c0c0ff;
	margin-right: 0.25em;
}

table, th, td {
	border-style: solid;
	border-width: 1px;
}
table {
	min-width: 300px;
	margin-top: 8px;
	margin-bottom: 8px;
}
table table {
	border-collapse: collapse;
}
th {
	background-color: #e0e0ff;
}
th, td {
	min-width: 50px;
	padding-left: 8px;
	padding-right: 8px;
}
th :has(br), td :has(br) {
	padding-top: 4px;
	padding-bottom: 4px;
}

th p, td p {
	margin: 0px;
}

.caution:before {
	content: "⚠注意";
	display: block;
	background-color: #808000;
	color: #ffffff;
}
.caution {
	background-color: #ffffc0;
	border: #c0c000;
}

.sample:before {
	content: "📃サンプル";
	display: block;
	background-color: #404060;
	color: #ffffff;
}
.sample {
	background-color: #f0f0ff;
	border: #6060c0;
}
.sample .code {
	background-color: #e0e0ff;
	border: 1px solid #8080c0;
	padding: 0.125em;
}
.sample .desc {
	padding: 0.125em;
}

.tips:before {
	content: "🛈Tips";
	display: block;
	background-color: #60c060;
	color: #ffffff;
}
.tips {
	background-color: #c0ffc0;
	border: #40c040;
}

.caution {
	background-color: #ffffc0;
	border: #c0c000;
}

.caution, .sample, .tips, .note, .important {
	margin: 0.5em;
	padding: 0.5em;
	border-style: double;
	border-width: 0.25em;
}

.note:before {
	content: "📃ノート";
	display: block;
	background-color: #b0b0b0;
	color: #ffffff;
}
.note {
	font-size: small;
	color: #404040;
	background-color: #f0f0f0;
	border: #404000;
}

pre {
	background-color: #f0f0ff;
	margin: 0.5em;
	padding: 0.5em;
	border: 0.06125em solid #c0c0f0;
}

:not(pre, h1, h2, h3, h4, h5, h6) > code {
	background-color: #f0f0ff;
	/* border: 0.06125em solid #8080c0; */
	padding: 0.25em;
}

.toc li, .toc summary {
	list-style-position: outside;
}
.toc summary {
	cursor: pointer;
}
.toc li:has(details) {
	list-style: none;
}
